/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
     /* @reset conatnet fir home  */
  .container.reset-container-home{
    width:100%
}

    #menu-large-screen{
        display: none;
    }
    
    #menu-small-screen{
        display: block;
    }

    .reset-banner-img{
        height: 0.5%!important;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    /* @reset conatnet fir home  */
  .container.reset-container-home{
    width:100%
}

    #menu-large-screen{
        display: none;
    }
    #menu-small-screen{
        display: block;
    }
    .reset-banner-img{
        height: 0.5%!important;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
/*    shovo */
    .pr-190{
        padding-right: 0;
        padding-left: 0;
    }
    
    .pr-70{
        padding-right: 0px;
    } 
    .pl-60{
        padding-left: 0px;
    }
    .section.home-slider-box:after{
        left: 0px;
        
    }
    
/*    arrow*/
    .kcsl-topics-box button.slick-next.slick-arrow {
    right: -14px;
    background-size: 32px 32px;
    
}
    button.slick-prev.slick-arrow {
       background-size: 32px 32px; 
       transform: translateY(-50%);

    }
    button.slick-next.slick-arrow{
       background-size: 32px 32px; 
       transform: translateY(-50%);

    }
    .kcsl-topics-box button.slick-prev.slick-arrow {
    left: 0px;
     background-size: 32px 32px;
  
}
    button.slick-next.slick-arrow {
        right: -20px;
    }
/*    slick slider*/
    
    .slick-initialized .slick-slide{
        margin-right: 20px;
        margin-left: 20px;
    }
    
/*    instragram*/
    .kcsl-social-box h4 {
    
    font-size: 2.125rem;

}
    .kcsl-social-box h4:before {
    content: url(../images/icon_instragram.png);
    width: 0px;
    height: 33px;
    position: absolute;
    top: 3px;
    right: 51px;
}
    .kcsl-social-box h4:after {
    content: '';
    width: 27px;
    height: 5px;
    background: #333;
    position: absolute;
    top: 23px;
        right: 59px;}
/*    footer*/
    .footer .footer-area .heading-p{
        text-align: left;
    }
    .footer .footer-area img{
        margin-bottom: 20px;
    }
/*    shovo css end*/

    /* @reset conatnet fir home  */
.container.reset-container-home{
    width: 100%;
}


    section.home-slider-box:after{
        width: 100%;
        height: 100%;
        left: 0px;
    }

    #menu-large-screen,
    section.kcsl-topics-box:before{
        display: none!important;
    }
    
    #menu-small-screen{
        display: block;
    }
    .reset-banner-img{
        height: 0.5%!important;
    }
    .kcsl-news-box .pl-130{
        padding: 0px!important;
    
    }
    
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
  /* @reset conatnet fir home  */
  .container.reset-container-home{
    width:450px
}


.reset-banner-img{
    height: 0.5%!important;
}

.kcsl-news-box .pl-130{
    padding: 0px!important;

}
section.kcsl-topics-box:before{
    width: 100%;
    height: 100%;
}
section.home-slider-box:after{
    width: 100%;
    height: 100%;
}


 
}
