body
{
 margin: 0 auto;
 padding: 0;
 font-family:"Yu Gothic";

}

/*mobile menu start here*/

.sticky {
  position: fixed;
margin-top: -85px;
  width: 100%;
    z-index: 1;
    
}
h3{
    font-size: 24px;
    font-weight: 600;
}
p{
    font-size: 14px;
    
}

.mobile-menu{
    text-align: center;
    padding: 10px 0;
    padding-bottom: 3px;
    font-family: Libre Baskerville;
}
.mobile-menu .mobile-logo img{
    width: 280px;
 
}
.mobile-menu-item .item-menu img{
   max-width: 100%;
    padding-bottom: 10px;
   
}
.mobile-menu-item .item-menu a{
    color: white;
}
.mobile-menu-item .item-menu a span{
    padding-top: 10px;
}
.mobile-menu-item .pa{
    padding: 0;
}
.mobile-menu-item .par{
    padding-left: 0;
    padding-right: 0;
}

.mobile-menu-item .item-menu{
    background-color: #333333;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    height:101px;
}
.mobile-menu-item .item-menu:hover{
    background-color: black;
}

/*mobile menu end here*/
.header-menu{

    background: black;
  
    float: left;
    position: fixed;
      width: 8.33%;
    font-family: Libre Baskerville;
}
.menu ul{
    padding: 0;
    margin: 0;
}
.menu ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: black;
    border: 2px solid white;
    border-bottom: 0px;
     padding: 20px 10px;
   
    
}

.menu ul li.th{
    border-bottom: 2px solid white;
}

.menu ul li a img{
   height: 40px;
    
}
.menu ul li a{
    color: white;
}
.menu ul li a:hover{
    text-decoration: none;
}
.header-menu .social-icon{
    padding-top: 30px;
}
.header-menu .social-icon ul{
    padding: 0;
    margin: 0;
    font-size: 40px
}
.header-menu .social-icon ul li{
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
}
.header-menu .social-icon ul li a i{
    color: white;
    
}
.header-menu .social-icon{
    background: #333333;
}
.header-menu .social-icon ul li.logo{
    padding-bottom: 30px;
}
.header-menu .social-icon ul li.logo img{
    height: 50px;
    max-width: 100%;
    
}
/*header content start here*/

.slider-image img {
    width: 100%;
    height: 240px;
}
.slider-image .img-content{
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
    height: 101px;
}
.slider-image .img-content h3{
    font-weight: 600;
    font-size: 42px;
}

.news-section{
    margin-top: 15px; 
}

.news-section .right img{
    width: 100%;
}
.news-section .right .right-content{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-left: 15px;
}

.news-section .right .right-content:first-child:hover{
    border-top:  1px solid black;
}
.news-section .right .right-content:hover{
    border-left: 1px solid black;
    border-right:  1px solid black;  
    background:#F5F5F5;
}


.news-section .row.right-content.top-boder {
    border-top: 1px solid black;
}
.news-section .right .right-content-image{
 
    margin-left: -15px;
}
.news-section p.div-header{
   margin-left: 12px; 
}
.archive-content .button a{
    text-align: center;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    color: black;
    margin-right: 20px;
    
}
.archive-content .button{
    display: flex;
    float: left;
}
.archive-content .date{
    text-align: right;
    display: block;
}
.archive-content .date i{
    display: inline-block;
    font-size: 20px
}
.archive-content .date p{
    display: inline;
    font-weight: 600;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.pagination {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    display: flow-root;
    margin-top: 40px;
}
.pagination a{
    text-align: center;
    padding: 10px 20px;
    border: 1px solid black;
    margin-left: 10px;
    font-size: 20px;
    color: black;
    
}
.pagination a.active{
    background-color: #333333;
    color: white
}

/*left site news section start here*/

.news-section .left h3{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    
    
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #ffffff;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ffffff;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.news-section .left h4{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 4px solid black;
    padding-bottom: 10px;
    margin-top: 20px
    
    
}

.news-section .left .sub-row{
    margin-bottom: 20px;
}

.news-section .left .sub-row h5{
    font-size: 15px;
    font-weight: 600;
}
.news-section .left .sub-row img{
    max-width: 100%;
}
.news-section .left .sub-row p{
    padding: 0;
    margin: 0;
}
/*jquery plus and minus start here*/



.accordian .card{
    box-shadow: 0px 0px 20px #3333;
    float: left;
    width: 100%;
}
.accordian .card .card-header{
    cursor: pointer;
    color: #ffffff;
    position: relative;
    background-color:#333333;
    margin: 0;
    padding: 0px; 
}
.accordian .card .card-header h3{
  
    display: inline-block;
    border: none;
    margin: 0;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.accordian .card .card-header{
    position: relative;
}
.accordian .card .card-header  p{
display: inline-block;
    color: #3343a2;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
   
     width: 25px;
    
}
.accordian .card .card-header  span{
position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    color: #111112;
    background-color: #ffffff;
    text-align: center;
    line-height: 43px;
    
}
.accordian .card .card-body{
    display: none;
}
/*open one card by deflult*/

.accordian .card .card-body
{
 padding: 20px;  
}
.accordian .card .card-body p{
    font-size: 20px;
    line-height: 24px;
    color: #444444;
    margin: 0px;
    
}

/*jquery plus and minus end here*/
.arrow-content {
    border-bottom: 1px solid black;
}
.arrow-content p{
    display: inline-block;
    padding-left: 10px;
}

.arrow-content p span{
    display: inline-block;
    color: black;
    background-color: #ECECEC;
    border-radius: 50%;
    text-align: center;
    width: 25px; 
    
}
/*left site news section end here*/
/*footer css start here*/
.footer {
    background-color: #242020;
    padding-bottom: 20px;
}

art
.footer p{
    color: white;
}
.footer .footer-area{
    padding-top: 50px;
}
.footer .footer-area img{
    max-width: 100%;
}
.footer .content{
    text-align: center;
    margin-top: 20px;
}
.footer .content h3{
    font-size: 15px;
    color: white;
    font-weight: 600;
    
}
.footer-right p{
    display: inline-block;
    padding-right: 20px;
    color: white;
}
.footer .footer-area .heading-p{
 font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.footer .footer-area p span{
    font-size: 20px;
}
/*footer css end here*/


/*partner page css start here*/
.news-section .partner-header{
    border: 4px solid #666666;
    margin-bottom: 20px;
    
}
.news-section .partner-header .partner-header-text {
    text-align: center;
    
}
.news-section .partner-header .partner-header-text h3{
    background-image: url("../images/header_h.png");
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
}
.news-section .partner-header .partner-header-text .partner-header-img{
    margin: 10px;
    border: 1px solid black;
}
.news-section .partner-header .partner-header-text .partner-header-img img{
    padding: 50px 0px;
    max-width: 100%;
}
/*partner page css start here*/
/*single page start here*/
.single-page-header{
    padding-top: 85px;
   
}
.single-page-header .single-page-header-text h1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: 600;
    padding: 13px 0px;
    
    
    
}
.single .single-img img{
    max-width: 100%;
    margin-bottom: 20px
}
.single-page-right h2{
background-image: url("../images/header_h.png");
    color: white;
    font-size: 20px;
    padding: 10px 0px;}

.single-page-right .h3-heading{
border-left: 5px solid black;
    
}
.single-page-right .h3-heading h3{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.single .social-content .social-header{
    text-align: center;
    margin-bottom: 20px;
   
}
.single .social-content .social-header h3{
     font-size: 15px;
    font-weight: 600;
}
.single .social-content .social-icon .twitter{
    background-color:#3399ff;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.single .social-content .social-icon .FACEBOOK{
    background-color:#3399ff;
    text-align: center;
    padding: 10px 0px;
     margin-bottom: 20px;
}
.single .social-content .social-icon .b_hatena{
    background-color:#3399cc;
    text-align: center;
    padding: 10px 0px;
margin-bottom: 20px;}
 
.single .social-content .social-icon .line{
    background-color:#339933;
    text-align: center;
    padding: 10px 0px;
 margin-bottom: 20px;}
.social-box .social-box-item{
    border: 1px solid black;
    
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.social-box .social-box-item p{
    display: inline-block;
}

.social-box .social-box-item img{
    max-width: 100%;
    height: 50px;
    
    
}
.social-box .social-box-item h4{
    font-size: 12px;
    font-weight: 600;
    
}
.social-box .link{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    
    
}
.social-box .link a{
    padding: 5px 20px;
    border: 1px solid #999999;
    background-color: #E9E9EA;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
}
/*single page end here*/

/*archive page css start*/
.archive .right .boder-top{
    border-top: 1px solid black;
  
}
.archive .right .archive-content-heading{
    margin-top: 25px;
  
}
.archive .right .archive-content-heading p{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    
}
.archive .right .archive-content-heading a{
  border:1px solid #333333;
    padding: 5px 20px;
    color: #333333;
    border-radius: 5px;
    font-size: 14px;
   
}
.archive .right .boder-bottom{

    border-bottom:1px solid #333333; 
}
.archive .right .boder-bottom p{
    font-size: 12px;
}
.archive .right .boder-bottom .content-p p{

    background: black;
    padding: 10px 0px;
    text-align: center;
} 

.archive .right .boder-bottom .content-p p a{
    color: white;
}
.archive .right .boder-bottom .content-p p a:hover{
    text-decoration: none;
}
/*archive page css end*/
/*single map page css start here*/

.map-page .right .map-page-link-content{

    text-align: center;
        margin-top: 15%;
}
.map-page .right .map-page-link-content p{
   margin-top: 20px; 
}
.map-page .right .map-page-link-content p a{
    
    border: 1px solid black;
    padding: 6px 16px;
    
    
}
.map-page .right .map-page-link-content a:hover{
    background-color: black;
    text-decoration: none;
    color: white;
}
.map-page .right img{
    margin-bottom: 10px;
}
.map-page .right a.a-button{
    border: 1px solid black;
    padding: 3px 15px;
    text-align: center;
    color: black;
    
}
.map-page .right a.a-button:hover{
    background-color: black;
    text-decoration: none;
    color: white;  
}
.map-page .right .image-section img{
    display: inline;
    width: 75px;
    margin-top: 20px;
    padding-right: 6px;
} 
.map-page .right .contact-area{
    border-bottom: 2px solid #CCCCCC;
    position: relative;
    margin-top: 14px;
    
}
.map-page .right .contact-area p{
margin-bottom: 0px;
    font-weight: 600;
}
.map-page .right .contact-area:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: -2px;
    width: 35%;
}
.map-page .right .contact-body-area{
    margin-top: 10px;
}
.map-page .right .contact-body-area p{
    padding: 0;
    margin: 0;
}
.map-page .right .map-area .map-heading{
    text-align: center;
    font-size: 15px;
    background-image: url("../images/header_h.png");
    color: white;
    margin-top: 10px;
}
.map-page .right .map-area .map-heading h3{
 padding: 10px; 
    font-size: 15px;
}
.map-page .right .date-map{
    padding: 20px;
 
}
.map-page .right .date-map .date-content{
    border-bottom: 3px dotted black;   
}
.map-page .right .date-map .date-content p{
    margin-top: 5px;
    padding: 0;
}
/*single map page css end here*/


/* loader css */

#loading{
    background-color: #dc3522;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
  }
  #loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    }
  #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;	
    -ms-transform: rotate(45deg); 
       -webkit-transform: rotate(45deg);
      transform: rotate(45deg); 
  
  }
  .object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    left: 65px;
    top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    }
  .object:nth-child(2n+0) {
    margin-right: 0px;
  
  }
  #object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    -webkit-animation-delay: 0.2s; 
      animation-delay: 0.2s; 
    }
  #object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    -webkit-animation-delay: 0.3s; 
      animation-delay: 0.3s; 
    }
  #object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    -webkit-animation-delay: 0.4s; 
      animation-delay: 0.4s; 
    }
  #object_four {
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
    -webkit-animation-delay: 0.5s; 
      animation-delay: 0.5s; 
  }
  #object_five {
    -webkit-animation: object_five 2s infinite;
    animation: object_five 2s infinite;
    -webkit-animation-delay: 0.6s; 
      animation-delay: 0.6s; 
  }
  #object_six {
    -webkit-animation: object_six 2s infinite;
    animation: object_six 2s infinite;
    -webkit-animation-delay: 0.7s; 
      animation-delay: 0.7s; 
  }
  #object_seven {
    -webkit-animation: object_seven 2s infinite;
    animation: object_seven 2s infinite;
    -webkit-animation-delay: 0.8s; 
      animation-delay: 0.8s; 
  }
  #object_eight {
    -webkit-animation: object_eight 2s infinite;
    animation: object_eight 2s infinite;
     -webkit-animation-delay: 0.9s; 
      animation-delay: 0.9s; 
  }
  
  #object_big{
    
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    -webkit-animation: object_big 2s infinite;
    animation: object_big 2s infinite;
    -webkit-animation-delay: 0.5s; 
      animation-delay: 0.5s; 
  }	
  
  
  
  
  @-webkit-keyframes object_big {
   50% { -webkit-transform: scale(0.5); }
  
  }
  
  @keyframes object_big {
   50% { 
      transform: scale(0.5);
      -webkit-transform: scale(0.5);
    } 
  
  }
  
  
  
  
  @-webkit-keyframes object_one {
   50% { -webkit-transform: translate(-65px,-65px)  ; }
  
  }
  
  @keyframes object_one {
   50% { 
      transform: translate(-65px,-65px) ;
      -webkit-transform: translate(-65px,-65px) ;
    } 
  
  }
  
  
  
  @-webkit-keyframes object_two {
    50% { -webkit-transform: translate(0,-65px) ; }
  }
  
  @keyframes object_two {
   50% { 
      transform: translate(0,-65px) ; 
      -webkit-transform: translate(0,-65px) ; 
    } 
  
  }
  
  
  
  @-webkit-keyframes object_three {
   50% { -webkit-transform: translate(65px,-65px) ; }
  }
  
  @keyframes object_three {
   50% { 
      transform: translate(65px,-65px) ;
      -webkit-transform: translate(65px,-65px) ;
    } 
  }
  
  
  
  @-webkit-keyframes object_four {
    
    50% { -webkit-transform: translate(65px,0) ; }
  
  }
  
  @keyframes object_four {
    50% { 
      transform: translate(65px,0) ;
      -webkit-transform: translate(65px,0) ;
    } 
  
  }
  
  
  
  
  @-webkit-keyframes object_five {
    
    50% { -webkit-transform: translate(65px,65px) ; }
  
  }
  
  @keyframes object_five {
    50% { 
      transform: translate(65px,65px) ;
      -webkit-transform: translate(65px,65px) ;
    } 
  
  }
  
  
  
  @-webkit-keyframes object_six {
    
    50% { -webkit-transform: translate(0,65px) ; }
  
  }
  
  @keyframes object_six {
    50% { 
      transform:  translate(0,65px) ;
      -webkit-transform:  translate(0,65px) ;
    } 
  
  }
  
  
  
  
  @-webkit-keyframes object_seven {
    
    50% { -webkit-transform: translate(-65px,65px) ; }
  
  }
  
  @keyframes object_seven {
    50% { 
      transform: translate(-65px,65px) ;
      -webkit-transform: translate(-65px,65px) ;
    } 
  
  }
  
  
  @-webkit-keyframes object_eight {
    
    50% { -webkit-transform: translate(-65px,0) ; }
  
  }
  
  @keyframes object_eight {
    50% { 
      transform: translate(-65px,0) ;
      -webkit-transform: translate(-65px,0) ;
    } 
  
  }


  /* scroll up  */
  a#up{
    position: absolute;
    right: 10px;
    bottom: 5px;
    padding: 10px;
    
    background: white;
    z-index: 1000;
}  
.date a {
    color: #333333;
} 
.archive-content h3 a {
    color: #0A0404;
} 

.widget-date a,
.widget-title a{
    color:#333
}

.news-section .left .sub-row {
    margin-bottom: 20px;
    /* padding-top: 10px; */
    padding-bottom: 40px;
    position: relative;
}

.news-section .left .sub-row:after {
    width: 92%;
    content: "";
    position: absolute;
    height: 1px;
    background: #DDDDDD;
    bottom: 7px;
    left: 16px;
}

.side-menu {
    margin-top: 37px;
    position: relative;
    top: 21px;
}

.side-menu a{
    color:#333;
}

/* side menu  */

.kcsl-side-menu {
    width: 120px;
    background: #242020;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-bottom: 50px;
    z-index: 100;
}

.kcsl-side-menu-item{
    width:98%;
    background: #0A0404;
    overflow: hidden;
    list-style: none;
    border:1px solid #FFFFFF;
    float: left;
    padding: 0px!important;
    border-bottom: 0px;
}
ul.kcsl-side-menu-item li {
    border-bottom: 1px solid white;
    padding: 13px 0;
}
.kcsl-side-menu-item li,
.kcsl-side-menu-item li a,
.txt_kcsc_menu {
    width:100%;
    display: block;
    text-align: center;
}

.kcsl-side-menu-item li a{
    padding:13px 0px;
    font-size:14px;
    font-weight: bold;
    color: white;
}

span.txt_kcsc_menu {
    margin-top: 13px;
}

/* side menu socail  */
.kcsl-social-list {
    width: 100%;
    overflow: hidden;
    margin-top: 18px;
    position: relative;
    padding-top: 40px;
}
.kcsl-social-list dd {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

.kcsl-social-list dd dt{
    width: 100%;
    float: left;
    text-align: center;
}

.kcsl-social-list dd dt img{
    width:92px;
}
.row.footer-area p {
    font-size: 20px;
    line-height: 27px;
    margin: 0px;
    margin-bottom: 20px;
    color: white;
}

.kcsl-main-menu-box,
.kcsl-main-menu-boxMobile{
    width: 300px;
    background: white;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 25px;
    z-index: 1200;
    margin-left: -330px;
    transition: 0.6s;
    
}
.kcsl-main-menu-boxMobile{
    right: 0px;
    left: unset;
    margin-right: -330px;
}


.kcsl-main-menu-boxMobile.activeMob {
    margin-right: 0px;
}


.kcsl-mainMenu-topBox{
    width: 170px;
    height: 80px;
}
.btn-corss-mianMenu,
.btn-corss-mianMenuMob {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    right: 15px;
    top: 33px;
}
.btn-corss-mianMenu img{
    width: 100%;
}

/* mian menu icon container  */

ul.mian-menu-icon-con{
    width:100%;
    padding:0px;
    overflow: hidden;
    list-style: none;
    border-right: 1px solid #fff;
}

.mian-menu-icon-con li {
    width: 98px;
    height: 60px;
    padding: 13px 0px;
    background: #333;
    float: left;
    border-right: 1px solid #fff;
}
span.txt-mini-icontxt {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    margin-top: 4px;
}

ul.mian-menu-icon-con img{
    display:block;
    margin: 0 auto;
}

/* main menu  */

ul.kcsl-mainNav {
    width: 270px;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    margin: 0 auto;
}

ul.kcsl-mainNav li {
    width: 100%;
    float: left;
    height: 43px;
    border-bottom: 1px solid #333333;
}
ul.kcsl-mainNav {
    width: 270px;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    border-right: 1px solid #CCCCCC;
}

ul.kcsl-mainNav li a{
    color: #333;
    line-height: 43px;
    text-align: center;
    display: block;
    font-size: 14px;
}
ul.kcsl-mainNav li a:hover{
    text-decoration: none;
    color: #370baf;
}

 .kcsl-main-menu-box.active {
    margin-left: 0px;
}

/* @ for small scree  */

#menu-small-screen{
    width: 100%;
    display: none;
}

/* @ for small devices overwrite  */

#menu-small-screen .kcsl-side-menu-item{
    width: 100%;
    height: 100px;
    display: flex;
}
#menu-small-screen .kcsl-side-menu-item li {
    float: none;
    width: 100%;
}

#menu-small-screen .kcsl-side-menu-item li {
    float: none;
    width: 100%;
    /* margin-right: 4px; */
    border-right: 2px solid white;
}

a.btn-corss-mianMenuMob img {
    width: 100%;
}

.btn-corss-mianMenu, .btn-corss-mianMenuMob {
    right: 11%;
}

.accordian {
    z-index: 1200;
    position: relative;
}
.btn-corss-mianMenu,
.btn-corss-mianMenuMob{
    transition-property: transform;
    transition-duration: 0.3s;
}
.btn-corss-mianMenu:hover,
.btn-corss-mianMenuMob:hover{
    transform: rotate(360deg);

}

.kcsl-social-list{
    transition-property: transform;
    transition-duration: 0.3s;
}

.kcsl-social-list dd a:hover img{
   transform: rotate(45deg);
}

.txt-home-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.txt-home-slider a{
    color: white;
    font-weight: bold;
}

.kcsl-home-gallery img {
    border: 1px solid black;
    max-width: 100%;
}


.slick-slide img{
    max-width: 100%;
}

/* @home news box  */
.kcsl-news-box {
    margin-top: 75px;
    padding-bottom: 60px;
}

.kcsl-news-tikcer{
    width: 100%;
    height: 400px;
    list-style: none;
    overflow:scroll;
    margin: 0px;
    padding: 40px 30px;
    background: #fff;
}
.kcsl-news-tikcer li{
    text-align: left;
    font-family: YuGothic;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(51,51,51,1);
    border-bottom: 2px dotted #333;
    padding: 20px 0;
}
.kcsl-news-tikcer li a{
    color:#333;
}

.kcsl-news-title{
    margin: 0px;
    font-family: Libre Baskerville;
    font-size: 55px;
    margin-bottom: 40px;
}

section.home-slider-box:after {
    content: '';
    width: 700px;
    height: 600px;
    background: #e4e2e3;
    position: absolute;
    /* top: 400px; */
    margin-top: -475px;
    z-index: -1;
    left: 58px;
    animation: movesquare1 5s;
    animation-delay: 10ms;
    
}

@keyframes movesquare1{
0%{
    
    border-radius: 1400px;
}

100%{
    border-radius: 0px;
}

}


.kcsl-home-gallery {
    position: relative;
    z-index: 100;
}

section.home-slider-box {
    position: relative;
    z-index: 100;
}

.youtube-box {
    position: relative;
    z-index: 1000;
}

.kcsl-social-box img {
    width: 100%;
    margin-bottom: 30px;
}

.home-header-tittle h2 {
    width: 100%;
    font-size: 2.75rem;
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
    margin-bottom: 60px;
}
.home-header-tittle p {
    text-align: center;
    font-size: 1.3125rem;
    margin-bottom:60px
}

.home-header-tittle h4{
    width: 100%;
    text-align: center;
    font-size: 2.40rem;
    font-weight: bold;
    margin-bottom: 60px;
}
/* slider button reset */

button.slick-prev.slick-arrow {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50px);
    z-index: 1000;
}
button.slick-next.slick-arrow {
    transform: translateY(10px);
    position: absolute;
    right: -20px;
    top: 50%;
    /* transition: tra; */
    transform: translateY(-50px);
    background: url(../images/arr_right.png) no-repeat;
    border: 0px;
    text-indent: -999px;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

button.slick-prev.slick-arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50px);
    background: url(../images/arr_left.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
    border: 0px;
}

h3.kcsl-title-events{
    margin: 0px;
    font-family: Libre Baskerville;
    font-size: 55px;
    margin: 60px 0px;
}
.kcsl-topics-title {
    margin: 0px;
    font-family: Libre Baskerville;
    font-size: 55px;
    margin-bottom: 20px;
}
.kcsl-topics-box button.slick-prev.slick-arrow {
    left: -45px;
    top: 38%;

}

.kcsl-topics-box button.slick-next.slick-arrow {
    right: -50px;
    top: 38%;
}

.kcsl-topics-txt {
    background: #f5f5f5;
    padding: 20px;
}
.kcsl-topics-txt a{
    color: #333333;
    font-size: 1.2375rem;
}

section.kcsl-topics-box{
    margin-bottom: 40px;
}

h3.kcsl-socialFed-title {
    font-family: Libre Baskerville;
    font-size: 70px;
    font-weight: bold;
}
a.btn-white-news{
    width: 258px;
    line-height: 58px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 36px;
    display: block;
    float: right;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    margin-right: 50px;
    position: relative;
    font-size: 22px;
}

a.btn-white-news:after {
    content: "";
    width: 70px;
    height: 3px;
    background: #333;
    position: absolute;
    right: -36px;
    top: 28px;
    transition: 0.3s;
}

a.btn-white-news:hover{
    text-decoration: none;
}

a.btn-white-news:hover::after{
    right: -46px;
}

.kcsl-social-box {
    background: white;
    padding: 40px;
}
.kcsl-social-box h4 {
    text-align: center;
    font-size: 2.3125rem;
    margin-bottom: 40px;
    position: relative;
    padding-right: 70px;
}
.kcsl-social-box h4:after {
    content: '';
    width: 70px;
    height: 4px;
    background: #333;
    position: absolute;
    top: 23px;
    right: 140px;
}

.kcsl-social-box h4:before {
    content: url('../images/icon_instragram.png');
    width: 44px;
    height: 44px;
    position: absolute;
    top: 3px;
    right: 80px;
}

section.kcsl-topics-box:before {
    content: '';
    width: 700px;
    height: 600px;
    background: #e4e2e3;
    position: absolute;
    /* top: 400px; */
    left: 128px;
    margin-top: -28px;
    animation:moveSquareBox2 5s;
   
}

@keyframes moveSquareBox2{
    0%{
        
        border-radius: 1000px;
    }
    
    100%{
        border-radius: 0px;
    }
    
    }



.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-header-tittle {
    position: relative;
    
}

/* @reset conatnet fir home  */
.container.reset-container-home{
    width: 1000px;
}
